<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ partial "meta/title" . }}
  {{ partial "meta/description.html" . }}
  {{ partial "meta/canonical.html" . }}
  {{ partial "meta/favicons.html" . }}
  {{ partial "meta/social.html" . }}

  {{ partial "assets/styles/accordion.html" . }}
  {{ partial "assets/styles/main.html" . }}
  {{ partial "assets/styles/table-of-contents.html" . }}
  {{ partial "assets/styles/tables.html" . }}
</head>

<body
  id="start-of-page"
  class="overflow-x-hidden leading-relaxed font-primary"
>

{{ partial "navigation/accessibility-header.html" . }}

<div class="px-4 pt-2 pb-16 lg:pt-8">

  <div class="max-w-screen-xl mx-auto lg:grid lg:grid-cols-5 lg:gap-12">

    <div class="lg:col-span-1 lg:order-1 navigation">
      {{ partial "navigation/navigation.html" . }}
    </div>

    <div class="lg:col-span-1 lg:order-3 table-of-contents">
      {{ partial "navigation/table-of-contents.html" (dict "theContent" .Content) . }}
    </div>

    <div class="lg:col-span-3 lg:order-2">
      <main
        id="start-of-content"
        tabindex="-1"
        class="focus:outline-none"
      >

        <div class="">