{{ $title := .Get 0 }}

{{ $icon := lower $title }}
{{ $iconUrl := (print "icons/" $icon) }}

{{ $color := .Get 1 }}
{{ $url := .Get 2 }}
{{ $target := .Get 3 }}

{{ if $url }}
  <a
    href="{{ $url }}"
    class="inline-flex px-1 pt-1 m-1 no-underline focus:outline-none group underline-trigger"
    {{ if eq $target 1 }}target="_blank"{{ end }}
  >
    <span class="flex flex-col items-center px-2 pt-1 transition duration-100 ease-linear group-focus:ring">
      <span
        aria-hidden="true"
        class="inline-flex items-center justify-center w-16 h-16 text-white"
        {{ if $color }}style="color:{{ $color }};"{{ end }}
      >
        {{ partial $iconUrl . }}
      </span>
      <span class="inline-block pt-1 underline-target">
        {{ $title }}
      </span>
      {{ if eq $target 1 }}
        <span class="sr-only">
          (Opens in a new window)
        </span>
      {{ end }}
    </span>
  </a>
{{ end }}